
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot?ykibc3');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?ykibc3#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/fonts/icomoon.ttf?ykibc3') format('truetype'),
  url('../fonts/icomoon/fonts/icomoon.woff?ykibc3') format('woff'),
  url('../fonts/icomoon/fonts/icomoon.svg?ykibc3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
  content: "\e900";
}
.icon-magnifying:before {
  content: "\e902";
}
.icon-rss:before {
  content: "\e904";
}
.icon-shop-cart:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e907";
}
.icon-heart:before {
  content: "\e901";
}
.icon-maps-mark:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-share:before {
  content: "\e90a";
}
.icon-envelope:before {
  content: "\e90b";
}
.icon-fb-rounded:before {
  content: "\e90c";
}
.icon-twitter-small:before {
  content: "\e90d";
}
