$icomoon-font-path: "fonts" !default;

$icon-wbk: \e900;
$icon-search2: \e905;
$icon-you: \e901;
$icon-search: \e902;
$icon-blog: \e903;
$icon-book: \e904;
$icon-clear-x: \e906;
$icon-fb: \e907;
$icon-flik: \e908;
$icon-insta: \e909;
$icon-meetings: \e90a;
$icon-pint: \e90b;
$icon-tw: \e90d;
$icon-menu: \e90c;

